<div class="form">
  <h1>Bus Reservation Form</h1>

  <form action="" [formGroup]="hotelform" (ngSubmit)="hotelform.valid && submitHotelform()">

    <div class="form-control">
      <label for="">Bus Type</label>
      <div class="select">
      <select formControlName="room" (change)="selectRoom(hotelform.controls['room'].value)">
        <option value="" disabled selected>Select Bus Type</option>
        <option value="A/C room">A/C bus</option>
        <option value="Non A/C room">Non A/C bus</option>
      </select>

      @if (hotelform.controls['room'].errors?.['required'] && hotelform.controls['room'].touched) {
       <small>Bus Type is required</small>
      }
    </div>
    </div>
    <div class="form-control">
      <label for="">Number of seat</label>
      <div>
      <select formControlName="number" (change)="selectnoRoom(hotelform.controls['number'].value)">
        <option value="" disabled selected>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
      @if (hotelform.controls['number'].errors?.['required'] && hotelform.controls['number'].touched) {
        <small>No. of seat is required</small>
       }
    </div>
    </div>
    <div class="form-control">
      <label for="">Number of persons</label>
      <div>
      <select formControlName="person">
        <option value="" disabled selected>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
      @if (hotelform.controls['person'].errors?.['required'] && hotelform.controls['person'].touched) {
        <small>Number of person is required</small>
       }
    </div>
    </div>
    <div class="form-control">
      <label>Number of children</label>
      <div>
      <select formControlName="children">
        <option value="" disabled selected>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
      @if (hotelform.controls['children'].errors?.['required'] && hotelform.controls['children'].touched) {
        <small>Number of children is required</small>
       }
    </div>
    </div>
    <div class="form-control">
      <label>Food facilities?</label>
      <div>
      <select formControlName="restaurant" (change)="facility(hotelform.controls['restaurant'].value)">
        <option value="" disabled selected>Do you want Food facilities?</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
      @if (hotelform.controls['restaurant'].errors?.['required'] && hotelform.controls['restaurant'].touched) {
        <small>Food facilities is required</small>
       }
    </div>
    </div>
    <div class="button-control">
      <h5>{{ 'Total Cost ( INR ) :' }}</h5>
      <button id="button">{{finalAmount|currency:'INR'}}</button>
    </div>
  </form>
</div>
