<div class="flex">

  <div class="navigations">
    <a routerLink="flight"> <i class="fa-solid fa-plane"></i> FLIGHT BOOKING</a>
    <a routerLink="bus"> <i class="fa-solid fa-bus"></i> BUS BOOKING</a>
    <a routerLink="car"> <i class="fa-solid fa-car"></i> CAR BOOKING</a>
    <a routerLink="hotel"> <i class="fa-solid fa-hotel"></i> HOTEL BOOKING</a>
    <a routerLink="employee"> <i class="fa-solid fa-user-tie"></i> EMPLOYEE TABLE</a>
  </div>

  <div class="placeholder">
    <router-outlet></router-outlet>
  </div>

  <div class="question">
    <div>
      <h3>Where?</h3>
      <p>You can reach us for travel any location..</p>
    </div>
    <div>
      <h3>When?</h3>
      <p>You can reach us for plan your trips</p>
    </div>
    <div>
      <h3>Transport?</h3>
      <p>You can reach us for FLIGHTBOOKING over country</p>
    </div>
  </div>
</div>

<div class="footer">
  <footer>
    <p>Address: Aspire Systems, Chennai</p>
  </footer>
</div>
